CREATE TABLE IF NOT EXISTS factchecks (
  id INTEGER PRIMARY KEY,
  post_id TEXT UNIQUE,
  status TEXT,
  verdict TEXT,
  confidence REAL,
  tier TEXT,
  attempts INTEGER DEFAULT 0,
  error TEXT,
  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
